#board {
	height: 500px;
	width: 500px;
}

#board td {
	border: 2px solid black;
}

#board td:hover {
	border-color: red;
}

.cross {
	background: url('img/cross.png') no-repeat center;
}

.nought {
	background: url('img/nought.png') no-repeat center;
}